section {
  display: flex;
  flex-direction: column;
  height: 91vh;
  color: white;
  margin: 30px 80px;
  padding: 10px;
  overflow: hidden;
}

div.count {
  display: flex;
  justify-content: center;
}

div.count span {
  border: 3px solid #fffa00;
  border-radius: 4px;
  background-color: #e0d100;
  padding: 0 10px;
  position: relative;
  margin-bottom: 5px;
  margin-right: 30px;
  font-size: 19px;
  font-weight: bold;
  box-shadow: inset 0 0 3px #0000004f;
}

div.content {
  padding-right: 10px;
  overflow: hidden;
  overflow-y: auto;
}

.item {
  display: flex;
  width: 100%;
  padding: 3px;
  margin-bottom: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), inset 0 0 1px gold;
  background-color: rgba(0, 0, 0, 0.333);
}

.item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5), inset 0 0 1px gold;
  background-color: rgba(0, 0, 0, 0.3);
}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 0;
}

.hot {
  display: flex;
  align-items: center;
  flex: 1;
}

.hot span {
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(0, 115, 255);
  outline: 1px solid #eee;
  padding: 1px 5px 0px;
}

.hot span:first-child {
  color: lime;
}

.hot span:last-child {
  color: deeppink;
}

.title {
  flex: 1;
  margin: 0 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
}
