@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #818ea9;
  box-shadow: inset 0px 0px 6px rgb(0, 0, 0, 0.1),
    inset 0px 0px 15px rgba(0, 0, 0, 0.5), inset 0px 0px 30px rgba(0, 0, 0, 1);
}

html,
body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: #f1f1f17e;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
  background: #566688;
}
::-webkit-scrollbar-thumb:hover {
  background: #526899;
}